.container{
    width: 70%;
    margin:auto;
    margin-top: 6rem;
}

.results-title h2{
  font-size: 30px;
}

.results-title p{
  font-size: 18px;
  padding-top: 1rem;
}



.user-dashboard-historial table{
  width: 100%;
  margin-bottom: 2rem;
  margin-top: 2rem;
}

.user-dashboard-historial table button{
    color: #fff;
    cursor: pointer;
    background-color: #f6bf19;
    border: none;
    border-radius: 6px;
    margin-top: 1rem;
    padding: .5rem 1rem;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
}

.user-dashboard-historial table thead tr th{
  border-bottom: 1px solid rgb(218, 215, 215);
  text-align: left;
  color: #767d88;
  font-weight: 500;
}

.user-dashboard-historial table td{
  padding: 10px 6px;
  border-bottom: 1px solid rgb(231, 230, 230);

}

.right{
  text-align: right !important;
}

.td-image{
  display: flex;
  align-items: center;
  gap: 15px;
}

.table-img{
  width: 40px;
  height: 40px;
  border-radius: 100%;

}

.table-img img{
  border-radius: 100%;
  width: 40px;
  height: 40px;
  width: 100%;
}


