.container {
  width: 70%;
  margin: auto;
  margin-top: 6rem;
  margin-bottom: 6rem;
}

.results-title h2 {
  font-size: 30px;
}

.results-title p {
  font-size: 18px;
  padding-top: 1rem;
}

.user-dashboard-historial {
  overflow-x: auto;
}


.user-dashboard-historial table {
  overflow-x: auto;

  width: 100%;
  margin-bottom: 2rem;
  margin-top: 2rem;
}

.user-dashboard-historial table a {
  color: #fff;
  cursor: pointer;
  background-color: #f6bf19;
  border: none;
  border-radius: 6px;
  margin-top: 1rem;
  padding: .5rem 1rem;
  font-size: 16px;
  font-weight: bold;
  text-decoration: none;
}

.user-dashboard-historial table a.grey {
  background-color: #bebebe;
  pointer-events: none;
  cursor: not-allowed;
}

.user-dashboard-historial table thead tr th {
  border-bottom: 1px solid rgb(218, 215, 215);
  text-align: left;
  color: #767d88;
  font-weight: 500;
}

.user-dashboard-historial table td {
  padding: 10px 6px;
  border-bottom: 1px solid rgb(231, 230, 230);

}

.right {
  text-align: right !important;
}

.td-image {
  display: flex;
  align-items: center;
  gap: 15px;
}

.table-img {
  width: 40px;
  height: 40px;
  border-radius: 100%;

}

.table-img img {
  border-radius: 100%;
  width: 40px;
  height: 40px;
}

.card{
    border: 1px solid #dbdbdb;
    border-radius: 5px;
    margin-top: 2rem;
    padding: 1rem;
}



/* results */

.movil-items{
  display: none;
}

.movil-item{
  border: 1px solid #dbdbdb;
  border-radius: 8px;
  margin-top: 2rem;
  padding: 1rem;
  
}

.movil-item-circle{
  width: 50px;
  height: 50px;
}

.movil-item-titles{
  display: flex;
  gap: 15px;
  align-items: center;
}

.movil-item-circle img{
  border-radius: 100%;
    width: 50px;
    height: 50px;
}

.movil-item-stats{
  display: flex;
  padding-top: 1rem;
  gap: 15px;
  font-weight: 500;
  font-size: 17px;
}

.movil-item-stat{
  display: flex;
  gap: 5px;
  align-items: center;
}

.movil-item-stat div{
    border-radius: 2px;
    width: 20px;
    height: 20px;
  background-color: #14b88a;
  }

  .movil-item-stat div.red{
  background-color: #f43b29;

  }

  .movil-item-time{
    display: flex;
    gap: 5px;
    align-items: center;
    padding-top: 0.5rem;
    font-weight: 500;
    font-size: 17px;
  }

  .movil-item-time img{
    width: 25px;
  }

.movil-item-buttons{
  display: flex;
  justify-content: flex-end;
}

.movil-item-buttons a{
      color: #fff;
    cursor: pointer;
    background-color: #f6bf19;
    border: none;
    border-radius: 6px;
    padding: .5rem 1rem;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
}

.movil-item-buttons a.grey{
  background-color: #bebebe;
  pointer-events: none;
  cursor:not-allowed;
}



@media (width <=1050px) {
  .container {
    width: 90%;
  }
}


@media (width <=950px) {

  .results-title p {
    font-size: 17px;
  }

}



@media (width <=750px) {
  .results-title h2 {
    font-size: 25px;
  }

  .results-title p {
    font-size: 16px;
  }

}

@media (width <=650px) {

  .user-dashboard-historial{
    display: none;
  }

  .movil-items{
    display: block;
  }

  .movil-item.no-item div,.movil-item.no-item h3{
    font-weight: 300 !important;
  }

}



@media (width <=570px) {
  .container {
    margin-top: 8rem;
  }
}


@media (width <=450px) {
  .movil-item-stats{
    display: flex;
    flex-direction: column;
    padding-bottom: 0.4rem;
  }
}

