
/* Configuration Modal */


.switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 24px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  border-radius: 24px;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 18px;
  width: 18px;
  left: 3px;
  bottom: 3px;
  background-color: white;
  border-radius: 50%;
  transition: 0.4s;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
}

input:checked + .slider {
  background-color: #22c55e;
}

input:checked + .slider:before {
  transform: translateX(15px);
}



.configuration-modal-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(3px); /* más sutil */
  background-color: rgba(0, 0, 0, 0.25);
  z-index: 999;
}

.configuration-modal {
  background: #fff;
  border-radius: 12px;
  width: 90%;
  max-width: 480px;
  padding: 24px;
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.25);
  animation: fadeIn 0.25s ease-in-out;
}

.configuration-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.close-button {
  background: none;
  border: none;
  cursor: pointer;
  color: #444;
  transition: 0.2s ease;
}

.close-button:hover {
  color: #000;
  transform: scale(1.1);
}

.configurations-items {
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.configuration-item {
  display: flex;
  justify-content: space-between;
  gap: 15px;
  align-items: center;
  background: #fafafa;
  padding: 12px 16px;
  border-radius: 12px;
}

.config-text h4 {
  margin: 0;
  font-size: 1rem;
  color: #222;
  font-weight: 600;
}

.config-text p {
  font-size: 0.85rem;
  color: #666;
  margin-top: 2px;
}

.configuration-header{
  padding-bottom: 1rem;
  border-bottom: 1px solid #0d0d0d1a;
}

.configuration-header h3{
  font-weight: 600;
}

.configuration-button{
  padding-top: 1rem;
  display: flex;
  justify-content: flex-end;
}

.configuration-button button{
  cursor: pointer;
  background-color: white;
  border: 1px solid #22c55e;
  color: #22c55e;
  border-radius: 5px;
  justify-content: center;
  align-items: center;
  padding: .6rem 1.4rem;
   font-weight: 700;
   font-size: 16px;
}


@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}