.primary-color{
    color:#287cbe !important;
  }
  


.header{
    display: flex;
    height: 74px;
    justify-content: space-between;
  
    
  }
  
  .logotype{
    display: flex;
    align-items: center;
    margin-left: 25px;
    cursor: pointer;
  }
  
  .logotype h2{
    font-size: 28px;
  }

  .logotype h2 a{
    text-decoration: none;
    color: black;
  }
  
  .navbar{
    display: flex;
    align-items: center;
  }
  
  .navbar a{
    text-decoration: none;
    padding: 0 9px;
    color: black;
    font-size: 18px;
    font-weight: 600;
  
  }


  .header-logotype > img{
    display: none;
    margin-left: 25px;
    cursor: pointer;
  }
  

  
.user-header{
    position:fixed;
    width: 100%;
    background-color: white;
    z-index: 1000;
    align-items: center;
  }
  
  .user-navbar{
    margin-right: 2rem;
  
  }
  
  .user-navbar a{
    display: flex;
    align-items: center;
    font-size: 16px;
  }
  
  .user-navbar a img{
    width: 20px;
    height: 20px;
    margin-right: 6px;
  }
  
  .user-header-button{
    background-color: #0056D2;
    border-radius: 25px;
    width: 36px;
    height: 36px;
    align-self: center;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .user-header-button img{
    width: 25px;
  }
  
  .navbar-button {
    display: flex;
    align-items: center;
    margin-right: 25px;}
  
    .header-info{
        display: flex;
    }

    .user-info{
      display: flex;
      align-items: center;
      gap: 20px;
      margin-left: 1rem;
      margin-right: 1rem;
    }

  .div-coins{
    display: flex;
    gap: 5px;
    font-weight: bold;
  }

  .sub-header .user-info{
    margin-top: 4.8rem;
    width: 100%;
    justify-content: space-between;
  }


  

    @keyframes slideIn {
      from {
        transform: translateX(-100%);
        opacity: 0;
      }
      to {
        transform: translateX(0);
        opacity: 1;
      }
    }
    
    .slide-enter {
      animation: slideIn 0.4s ease-out forwards;
    }
  

@media (max-width:1150px) {
    .user-navbar{
        display: none;
      }

    .header-logotype  img{
        display:block;
      }

      .header-logotype{
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 60%;
      }

}


@media (max-width: 750px) {
      .header-logotype{
        width: 50%;
      }
}

@media (max-width: 570px) {

  .logotype h2{
    font-size: 24px;
  }

    .user-header-button{
        display: none;
    }

    .user-header{
        justify-content: space-between;
        flex-direction:column;
    }

    .header-logotype{
      width: 100%;
      flex-direction: row-reverse;
      padding-top: 0.5rem;
    }

    .header-info{
      width: 100%;
    }

    
    
    .user-info{
      width: 100%;
      margin-left: 0;
      justify-content: space-between;
      margin-right: 1.5rem;
    }

      .header-logotype > img{
        margin-right: 25px;
      }

    .div-coins{
      margin-left: 35px;
      gap: 10px;
    }

    .user-header{
      border-bottom:1px solid #ebe9e9 ;
      height: auto;
      padding-bottom: 0.4rem;
    }




  


}



@media (max-width: 450px) {


   


    /* .user-header > img{
        margin-left: 0px;
        margin-right: 1rem;
    } */

}
      