
.learning-side-container{
    min-width: 360px;
    height: 100vh;
    height: calc(100vh - 70px);
    position: sticky;
    top: 60px;
    /* overflow:scroll; */
    overflow-x: hidden;
    margin-top: 70px;
  }
  
  .learning-side-container h3{
    padding: 0 1rem;
    font-size: 17.6px;
    padding: 1rem 1rem 0.8rem; 
  }
  
  
  .learning-side-item{
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-decoration: none;
    color: #25265e;
  
  }
  
  .learning-side-item p{
    /* padding: 1rem; */
    /* background-color: #0056D2; */
    /* margin: 0; */
    padding: 0.86rem 2.1rem;
    border-bottom:1px solid #e7e1e1 ;
    border-bottom:1px solid #eeeeee ;
    color: #25265e;
  }
  
  .item-side-selected{
    box-shadow: inset 4.5px 0 #1865f2;
    background-color: #d4ebff;
  
  }
  
  .learning-side-item img{
    margin-right: 6px;
    width: 25px;
    height: 25px;
  }
  
  
  
  .item-side-selected p{
  }
  
  .learning-side-item:hover{
    background-color: #e0e0e0;
    background-color: #EEEEEE;
    cursor: pointer;
  }
  
  .item-side-selected:hover{
    /* background-color:; */
    background-color: #d4ebff;
  
  }