.container {
  padding-top: 5rem;
  padding-bottom: 4rem;
  font-weight: 500;
  width: 70%;
  margin: 1.3rem auto auto;
}

.results-title h2 {
  font-size: 30px;
}

.results-title p {
  font-size: 18px;
  font-weight: 300;
  padding-top: 1rem;
}

.results-header {
  border-bottom: 1px solid #dddddd;
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: space-between;
  margin-top: 2.5rem;
}

.results-header-title {
  display: flex;
  padding: 1rem 0;
  gap: 15px;
  /* border-top: 1px solid #dddddd; */
}

.results-header-title h3 {
  font-size: 22px;
}

.results-header-texts p {
  color: #767d88;
  font-weight: 600;
  font-size: 17px;
}

.results-header-right {
  text-align: center;
}

.results-header-right p {
  color: #767d88;
}

.results-container {
  padding-top: 1rem;
  display: flex;
  padding-bottom: 1rem;
}

.results-data-info {
  display: flex;
  gap: 15px;
  align-items: center;
}


.results-data-info div {
  display: flex;
  align-items: center;
  gap: 5px;
}

.results-data-info div img {
  width: 25px;
}


.circle {
  height: 50px;
  width: 50px;
}

.circle img {
  width: 50px;
  height: 50px;
  border-radius: 100%;
}


.results-question-list {
  display: flex;
  flex-wrap: wrap;
  padding-top: 1.5rem;
  width: 100%;
  gap: 10px;
  max-height: 200px;
  overflow-y: auto;
}

.question-square {
  width: 50px;
  height: 45px;
  padding: 5px;
  background-color: #e9e9e9b2;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 3px;
  cursor: pointer;
  font-size: 15px;
  position: relative;
}

.question-square-result {
  width: 15px;
  height: 15px;
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.question-square-result.green{
  background-color:#14B88A;
}

.question-square-result.green img{
  width: 13px;
}
.question-square-result.red{
  background-color: #F43B29;
}

.question-square-result.red img,.question-square-result.grey img {
  width: 13px;
}

.question-square-result.grey{
  background-color: #DCDCDC;
}

.result-squares .square,.question-item-icons div .square{
  width: 15px;
  height: 15px;
  border-radius: 2px;
}

.result-squares div .square.green,.question-item-icons div .square.green{
  background-color:#14B88A;
}

.result-squares div .square.red, .question-item-icons div .square.red{
  background-color: #F43B29;
}

.result-squares div .square.grey, .question-item-icons div .square.grey{
  background-color: #bdbdbd;
}



.result-squares{
  display: flex;
  gap: 15px;
  padding-top: 1.5rem;
}

.result-squares div{
  display: flex;
  gap: 7px;
  align-items: center;
}

.question-item{
  border: 1px solid #dbdbdb;
  padding: 1rem;
  border-radius: 5px;
  margin-top: 2rem;
}

.question-item-icons{
  display: flex;
  align-items: center;
  gap: 25px;
  
}

.question-item-icons div{
  display: flex;
  align-items: center;
  gap: 8px;
}

.question-item-text{
  padding-top: 1.2rem;
  font-size: 17px;
}

.question-item-button{
  display: flex;
  justify-content: flex-end;
}

.question-item-button a, .question-more button{
  color: #fff;
    cursor: pointer;
    background-color: #287CBE;
    border: none;
    border-radius: 6px;
    width: max-content;
    margin-top: 1rem;
    padding: .5rem 1rem;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
}

.question-more{
  display: flex;
  justify-content: center;
  padding-top: 2rem;
}



@media (width <= 1050px) {
    .container {
        width: 80%;
    }
}

@media (width <= 950px) {
    .container {
        width: 90%;
    }


    .results-title h2{
      font-size: 28px;
    }

}


@media (width <= 600px) {

    .results-header {
        flex-direction: column;
        gap: 0;
}

    .results-container{
        padding-top: 2rem;
    }

  
    .results-data-info{
        flex-direction: column;
        width: 100%;
        gap: 0px;
        padding-bottom: 0.5rem;
    }

    .results-container-info{
        padding-bottom: 0rem;
    }


    .results-data-info div{
        width: 100%;
    }

    .results-data-info div p{
        padding: 0.3rem;
    }

    .results-header-title{
        width: 100%;
    }


.results-header-right{
    width: 100%;
    text-align: left;
    display: flex;
    justify-content: space-between;
    padding-bottom: 1rem;
}

.results-header-texts{
  display: flex;
  align-items: center;
}

.results-header-texts p{
     padding-bottom: 0;
     display: none;
}

    
}



@media (width <= 570px) {

    .container{
      padding-top: 7rem;
    }

}


@media (width <= 750px) {

    .results-title h2{
      font-size: 25px;
    }

    .results-title p{
      font-size: 17px;
    }

    .results-header-title h3{
      font-size: 20px;
    }

    .result-squares{
      display: block;
    }


}

@media (width <= 570px) {

    .results-title h2{
      font-size: 22px;
    }

    .results-header{
      flex-direction: column;
      align-items: flex-start;
      padding-bottom: 0.5rem;
    }
}

@media (width <= 550px) {

  .results-header-title h3{
    font-size: 19px;
  }

  .results-header-right h3{
    font-size: 18px;
  }

  .results-title p{
    font-size: 16px;
  }

 
}