
*,
*:before,
*:after{
  box-sizing: border-box;
  margin:0px;
  padding: 0px;
} 
.primary-color{
  color: #022EE1 !important;
}



.header{
  display: flex;
  height: 74px;
  justify-content: space-between;

  
}

.logotype{
  display: flex;
  align-items: center;
  margin-left: 25px;
  cursor: pointer;
}

.logotype h2{
  font-size: 28px;
}

.navbar{
  display: flex;
  align-items: center;
}

.navbar a{
  text-decoration: none;
  padding: 0 9px;
  color: black;
  font-size: 18px;
  font-weight: 600;

}


.logotype img{
  width: 2.5rem;
  height: 2.5rem;
}

.navbar__button{
  display: flex;
  align-items: center;
  margin-right: 25px;
}

.navbar__button button{
  cursor: pointer;
  width: 7rem;
  height: 2.5rem;
  background-color: #022EE1;
  color: white;
  border: none;
  border-radius: 0.5rem;
  border-radius: 6px;
  /* font-family: 'CircularStd-Bold',sans-serif; */
  font-family: var(--font-CircularBold);
  font-weight: 600;
  font-size: 14px;
}

.burger-menu{
  display: none;
  cursor: pointer;
}


.footer{
  background-color: #24293B;
  padding: 3rem 0 1rem;
}

.footer-content{
  width: 80%;
  margin: auto;
  /* justify-content:space-around; */
  display: flex;
  color: white;
  padding-bottom: 0.8rem;
}

.footer-section{
  display: flex;
  width: 25%;
  flex-direction: column;
}

.footer-section h4{
  font-size: 18px;
  padding-bottom: 1rem;
}


.footer-section ul{
  display: flex;
  flex-direction: column;
  list-style: none;
  padding-bottom: 1rem;
}

.footer-section ul li a{
  color: white;
  text-decoration: none;
}

.footer-section ul li{
  padding: 0.4rem 0;
}

.footer-logotype{
  font-size: 26px;
  display: flex;
  width: 35%;

}

.footer-logotype img{
  width: 2.5rem;
  height: 2.5rem;
  margin-right: 10px;
}

.footer-info{
  display: flex;
  color: white;
  width: 80%;
  margin: auto;
  justify-content: space-between;
  font-size: 14px;
  border-top: 1px solid rgb(255, 245, 245);
  padding-top: 1rem;
}

/* user header */

.header-info{
  display: flex;

}


.user-header{
  position:fixed;
  width: 100%;
  background-color: white;
  z-index: 1000;
}

.user-navbar{
  margin-right: 2rem;

}

.user-navbar a{
  display: flex;
  align-items: center;
  font-size: 16px;
}

.user-navbar a img{
  width: 20px;
  height: 20px;
  margin-right: 6px;
}

.user-header-button{
  background-color: #0056D2;
  border-radius: 25px;
  width: 36px;
  height: 36px;
  align-self: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.user-header-button img{
  width: 25px;
}

.navbar-button {
  display: flex;
  align-items: center;
  margin-right: 25px;}



  .colum-container{
    display: flex;
    flex-direction: column;
  }

main{
  display: flex;
  flex-direction: column;
}



/* Admin Layout*/

.super-container{
  font-family: "Poppins", sans-serif;
    display: flex;
    background-color: #afb9b628;
    width: 100%;
}

.outlet{
    flex-grow: 1;
    background-color: #EFF3F9;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

/* Admin header */


.admin-header{
  height: 70px;
  background-color: white;
  box-shadow: 0 2px 4px 0 rgba(43, 43, 43, .1);
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: "Quicksand", sans-serif;
  font-family: 'CircularStd-Book',sans-serif;
  position: sticky;
  top: 0;
  z-index: 500;
}


.admin-left-menu{
  margin-left: 1.2rem;
  display: flex;
  align-items: center;
}

.admin-left-menu > img{
  cursor: pointer;
}

.admin-right-menu{    display: flex;
  align-items: center;
  margin-right: 5rem;
}

.admin-left-menu img{
  margin-right: 10px;
}

.admin-img{
  width: 35px;
  height: 35px;
  margin-right: 0.5rem;
  border-radius: 100%;
  background-color: #022EE1;
  display: flex;

}

.admin-img img{
  margin: 8px;
}


/* admin cards tilte */
.admin-question-container{
  padding: 1rem;
  padding-bottom: 2rem;
}

.admin-question-title h2{
  font-size: 20px;
  padding-bottom: 1rem;
}

.admin-question-cards{
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(220px,1fr));
  gap: 15px;
}

.admin-question-card{
  background-color: white;
  padding: 1rem;
  display: flex;
  border-radius: 5px;
  justify-content: space-between;
}

.admin-question-card .question-text{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.admin-question-card .question-text p{
  padding-bottom: 1.5rem;
  font-size: 14px;
}

.admin-question-card .question-text h4{
  font-size: 22px;
}

.question-img{
  width: 40px;
  height: 40px;
  background-color: #DFF0FA;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}


.admin-question-img .question-img img{
  width: 25px;
}

.add_question_container{
  padding: 1rem;
}











@media (max-width: 950px) {
  .logotype h2{
    font-size: 26px;
  }

  .footer-content,.footer-info{
    width: 90%;
  }

  .admin-right-menu{    
    margin-right: 2rem;
  }


}

@media (max-width: 750px) {

  .navbar{
    display: none;
  }

  .navbar__button{
    display: none;
  }

  .header{
    align-items: center;
  }

  .burger-menu{
    display: flex;
    margin-right: 2rem;
  }

  .footer-content{
    flex-wrap: wrap;
    width: 80%;
  }

  .footer-logotype{
    width: 100%;
    justify-content: center;
  }

  .footer-section{
    width: 33.333%;
    padding-top: 2rem;
  }



}

@media (max-width: 640px) {
  .footer-info{
    flex-direction: column;
    gap: 15px;
  }

 
  

  
 
}


@media (max-width: 550px) {

  .footer-section{
    width: 100%;
  }

  .footer-section h4{
    padding: 0;
    font-size: 17px;
  }

  .footer-content{
    width: 50%;
    justify-content: center;
    text-align: center;
  }

}







