*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

.primary-color {
  color: #287CBE !important;
}



.header {
  display: flex;
  height: 74px;
  justify-content: space-between;


}

.logotype {
  display: flex;
  align-items: center;
  margin-left: 25px;
  cursor: pointer;
}

.logotype h2 {
  font-size: 28px;
}

.navbar {
  display: flex;
  align-items: center;
}

.navbar a {
  text-decoration: none;
  padding: 0 9px;
  color: black;
  font-size: 18px;
  font-weight: 600;
  color: #003a8c;

}


.logotype img {
  width: 2.5rem;
  height: 2.5rem;
}


.right-buttons {
  display: flex;
  align-items: center;
  margin-right: 25px;
}

.navbar__button,
.login-button {
  cursor: pointer;
  width: 7rem;
  height: 2.5rem;
  background-color: #287CBE;
  color: white;
  border: none;
  border-radius: 0.5rem;
  border-radius: 6px;
  font-weight: 600;
  font-size: 14px;
  margin-right: 1rem;
}

.login-button {
  background-color: white !important;
  border: 1px solid #287CBE;
  color: #287CBE !important;

}

.burger-menu {
  display: none;
  cursor: pointer;
}


.footer {
  background-color: #24293B;
  padding: 3rem 0 1rem;
}

.footer-content {
  width: 85%;
  margin: auto;
  /* justify-content:space-around; */
  display: flex;
  color: white;
  padding-bottom: 0.8rem;
}

.footer-section {
  display: flex;
  width: 25%;
  flex-direction: column;
}

.footer-section h4 {
  font-size: 18px;
  padding-bottom: 1rem;
}


.footer-section ul {
  display: flex;
  flex-direction: column;
  list-style: none;
  padding-bottom: 1rem;
}

.footer-section ul li a {
  color: white;
  text-decoration: none;
}

.footer-section ul li {
  padding: 0.4rem 0;
}

.footer-logotype {
  font-size: 26px;
  display: flex;
  width: 35%;

}

.footer-logotype img {
  width: 2.5rem;
  height: 2.5rem;
  margin-right: 10px;
}

.footer-info {
  display: flex;
  color: white;
  width: 80%;
  margin: auto;
  justify-content: space-between;
  font-size: 14px;
  border-top: 1px solid rgb(255, 245, 245);
  padding-top: 1rem;
}

.footer-info a {
  color: white;
}


/* user header */

.header-info {
  display: flex;

}


.user-header {
  position: fixed;
  width: 100%;
  background-color: white;
  z-index: 1000;
}

.user-navbar {
  margin-right: 2rem;

}

.user-navbar a {
  display: flex;
  align-items: center;
  font-size: 16px;
}

.user-navbar a img {
  width: 20px;
  height: 20px;
  margin-right: 6px;
}

.user-header-button {
  background-color: #0056D2;
  border-radius: 25px;
  width: 36px;
  height: 36px;
  align-self: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.user-header-button img {
  width: 25px;
}

.navbar-button {
  display: flex;
  align-items: center;
  margin-right: 25px;
}



.colum-container {
  display: flex;
  flex-direction: column;
}

main {
  display: flex;
  flex-direction: column;
}



/* Admin Layout*/

.super-container {
  font-family: "Poppins", sans-serif;
  display: flex;
  background-color: #afb9b628;
  width: 100%;
}

.outlet {
  flex-grow: 1;
  background-color: #EFF3F9;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

/* Admin header */


.admin-header {
  height: 70px;
  background-color: white;
  box-shadow: 0 2px 4px 0 rgba(43, 43, 43, .1);
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  top: 0;
  z-index: 500;
}


.admin-left-menu {
  margin-left: 1.2rem;
  display: flex;
  align-items: center;
}

.admin-left-menu>img {
  cursor: pointer;
}

.admin-right-menu {
  display: flex;
  align-items: center;
  margin-right: 5rem;
}

.admin-left-menu img {
  margin-right: 10px;
}

.admin-img {
  width: 35px;
  height: 35px;
  margin-right: 0.5rem;
  border-radius: 100%;
  background-color: #022EE1;
  display: flex;

}

.admin-img img {
  margin: 8px;
}


/* admin cards tilte */
.admin-question-container {
  padding: 1rem;
  padding-bottom: 2rem;
  min-height: 70vh;
}

.admin-question-title {
  display: flex;
  justify-content: space-between;
}

.admin-question-title h2 {
  font-size: 20px;
  padding-bottom: 1rem;
}

.admin-question-cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 15px;
}

.admin-question-card {
  background-color: white;
  padding: 1rem;
  display: flex;
  border-radius: 5px;
  justify-content: space-between;
}

.admin-question-card .question-text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.admin-question-card .question-text p {
  padding-bottom: 1.5rem;
  font-size: 14px;
}

.admin-question-card .question-text h4 {
  font-size: 22px;
}

.question-img {
  width: 40px;
  height: 40px;
  background-color: #DFF0FA;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}


.admin-question-img .question-img img {
  width: 25px;
}

.add_question_container {
  padding: 1rem;
}


/* Modal */

.div_coins img {
  width: 4em;
  height: 4em;
}

.confirm_modal_info h3 {
  /* color: #595959; */
  font-weight: 600;
  font-size: 20px;
  padding: 0.3rem;
}

.buttons {
  padding-top: 1rem;
  display: flex;
}

.buttons button {
  cursor: pointer;
  padding: 0 1rem;
  height: 2.5rem;
  background-color: #FFC74F;
  color: white;
  border: none;
  border-radius: 0.5rem;
  border-radius: 6px;
  font-family: var(--font-CircularBold);
  font-weight: 600;
  font-size: 14px;
  margin-right: 1rem;
}

.buttons button.red {
  border: 2px solid crimson;
  color: crimson !important;
  background-color: white;
  color: black;
}

.error-container{
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  flex-direction: column;
  gap: 10px;
}

.error-container img{
  width: 250px !important;
  height: 250px !important;
}

.error-container h2{
  text-align: center;
}

.texts{
  text-align: center;
  width: 80%;
  font-size: 17px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

@media (max-width: 750px) {

  .error-container img{

  width: 200px !important;
  height: 200px !important;

  }

  .error-container h2{
    font-size: 20px;
  }

}


/* CSS simulator */


.config-text-with-image div {
  display: flex;
  justify-content: center;
  padding: 1.5rem 0;
}

.config-text-with-image p {
  padding-bottom: 8px;
}

.config-text-with-image img {
  width: 140px;
}

.config-image-answer img {
  width: 200px;
}

.config-text-simple h3{
  padding-bottom: 1rem;
}

.config-text-simple p,.config-text-simple ul,.config-text-simple ol{
  padding-bottom: 0.8rem;
}


/* Loader */


.lds-dual-ring,
.lds-dual-ring:after {
  box-sizing: border-box;
}

.lds-dual-ring {
  display: inline-block;
  width: 40px;
  height: 40px;
}

.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 24px;
  height: 24px;
  margin: 8px;
  border-radius: 50%;
  border: 6.4px solid currentColor;
  border-color: currentColor transparent currentColor transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}

@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.loading-div {
  display: flex;
  align-items: center;
  justify-content: center;
}




/* /////////////////////////////////// */

@media(max-width:1050px) {
  .footer-logotype {
    width: 100%;
    justify-content: center;
  }

  .footer-content {
    flex-wrap: wrap;
    width: 90%;
  }



  .footer-section {
    width: 33.333%;
    padding-top: 2rem;
  }
}

@media (max-width: 950px) {
  .logotype h2 {
    font-size: 26px;
  }

  .footer-content,
  .footer-info {
    width: 90%;
  }

  .admin-right-menu {
    margin-right: 2rem;
  }

  .navbar {
    display: none;
  }

  .header {
    align-items: center;
  }

  .burger-menu {
    display: flex;
    /* margin-right: 2rem; */
  }




}

@media (max-width: 750px) {


  .navbar__button {
    display: none;
  }

  .header {
    align-items: center;
  }







}

@media (max-width: 640px) {
  .footer-info {
    flex-direction: column;
    gap: 15px;
  }

}

@media (max-width: 570px) {

  .login-button {
    height: 1.9rem;
    font-size: 13px;
    margin-right: 1.5rem;

  }

  .cl-internal-friqq3 {
    margin-right: 0.4rem;
    ;
  }


}


@media (max-width: 550px) {

  .footer-section {
    width: 100%;
  }

  .footer-section h4 {
    padding: 0;
    font-size: 19px;
  }

  .footer-content {
    width: 50%;
    justify-content: center;
    text-align: center;
  }

  .right-buttons {
    display: none;
  }

  .burger-menu {
    margin-right: 2rem;
  }

}




