.landing-page{
}
.landing-hero{
    display: flex;
    align-items: center;
    width: 100%;
    margin: auto;
    gap: 20px;
    justify-content: center;

}

.hero-img{
    width: 50%;
}

.landing-hero-img img{
    width: 100%;
}

.landing-hero-texts{
    width: 50%;
}

.landing-hero-texts h1{
    padding: 0.4rem 0rem 1rem;
    font-size: 40px;
    color: #06235B;

}

.landing-hero-texts h3{
    color: #06235B;
    letter-spacing: 2px;
}

.landing-hero-texts p{
    font-size: 20px;
    line-height: 26px;
    padding-bottom: 1.5rem;
}


.landing-hero-buttons a{
    padding: 10px 2rem;
    font-size: 16px;
    text-decoration: none;
    margin-right: 1rem;
    border: none;
    font-weight: 700;
    color: white;
    background-color: transparent;
    border: 1px solid #287CBE;
    color: #287CBE;
    border-radius: 3px;
    display: flex;
    width: max-content;
    align-items: center;
    gap: 5px;
}


.landing-hero a.primary{
    background-color: #287CBE;
    color: white;
}


.landing-hero-buttons .primary{
    margin-bottom: 1rem;
}

.landing-numbers{
    display: flex;
    background-color: #287CBE;
    color: white;
    align-items: center;
    margin: auto;
    gap: 15px;
    padding: 0.6rem 0;
    justify-content: space-evenly;
    
}

.landing-number-item{
    width: 15%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.landing-number-item h3{
    text-align: center;
    font-size: 30px;
    /* padding-bottom: 0.5rem; */
}

.landing-number-item p{
    /* text-align: center; */

    font-size: 20px;
}

.landing-number-img{
    display: flex;
    justify-content: center;
}

.landing-number-img img{
    width: 60px;
}


/*  */
.landing-options-container{
  padding-top: 4rem;
}

.landing-options-container h2{
  font-size: 33px;
    text-align: center;
    color: #06235B;

}

.examen-options{
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    width: 80%;
    margin: auto;
    padding-bottom: 2rem;
    grid-gap: 25px;
    gap: 25px;
    margin-top: 3rem;
}



.examen-option {
  border: 1px solid #ddd;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 2px 6px rgba(0,0,0,0.08);
  transition: transform 0.2s ease;
  background-color: #fff;
  max-width: 340px;
  display: flex;
  flex-direction: column;
}

.examen-option:hover {
  transform: translateY(-5px);
}

.examen-img {
  width: 100%;
  height: auto;
}

.examen-info {
  padding: 1rem;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.examen-info h3 {
  font-size: 1.2rem;
  color: #06235B;
  margin: 0 0 0.5rem 0;
}

.examen-info p {
  font-size: 0.95rem;
  color: #555;
  margin-bottom: 0.75rem;
}

.examen-meta {
  font-size: 0.85rem;
  color: #302e2e;
  margin-bottom: 1rem;
}

.examen-meta span{
    font-weight: 700;
    font-size: 14px;
}

.examen-boton {
  background-color: #287CBE;
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 6px;
  text-decoration: none;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.2s ease;
  font-size: 13px;
}

.examen-boton.grey{
    background-color: #e0e0e0;
    color: #555;
    transition: background-color 0.2s ease;
}

.examen-boton.grey:hover{
      background-color: #d5d5d5;
  color: #222;
}


.examen-boton:hover {
  background-color: #003a8c;
}



/*  */

.landing-cards-container{
    padding-top: 4rem;
}
.landing-cards-titles{
    width: 80%;
    margin: auto;
}

.landing-cards-titles h2{
    font-size: 33px;
    text-align: center;
    color: #06235B;
}

.landing-cards-titles p{
    padding: 2rem 0;
    font-size: 19px;
    text-align: center;
}


.landing-cards{
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    width: 80%;
    margin: auto;
    padding-bottom: 2rem;
    gap: 25px;
}

.landing-card{
    padding: 2rem 2rem 2rem 2rem;
    border-width: 1px;
    border-radius: 24px;
    border-style: solid;
    border-color: #e5e7eb;
}

.landing-card img{
    width: 40px;
    margin-bottom: 1rem;
}

.landing-card p{
    padding-top:1rem ;
}

.landing-card h3{
    color: #06235B;
}

.landing-sections-title{
    width: 80%;
    margin: auto;
    text-align: center;
}


.landing-sections-title h2{
    padding-top: 2rem;
    font-size: 30px;
    color: #06235B;
}

.landing-section{
    display: flex;
    width: 80%;
    margin: auto;
    gap: 20px;
    padding: 1rem 0;
    padding-bottom: 2rem;
}

.landing-section-texts{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.landing-section-img{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.landing-section-img img{
    width: 100%;
    max-width: 400px;
}


.landing-section-texts h4{
    font-size: 18px;
    color: #06235B;
}

.landing-section-texts h3{
    padding: 0.6rem 0;
    font-size: 30px;
    color: #06235B;
}


.landing-section-texts p{
    font-size: 18px;
    line-height: 25px;
    padding-bottom: 1rem;
}


.landing-section-texts a{
    width: fit-content;
    background-color: #022EE1;
    background-color: #287CBE;
    color: white;
    padding: 10px 1rem;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    font-weight:600;
    text-decoration: none;
}

.landing-blue{
    background-color: #E2F3FF;
    flex-flow: row-reverse;
}

.landing-blue .landing-section .landing-section-texts{
    color: white;
}

.landing-blue .landing-section-texts p{
    color: white;
    color: black;
}

.landing-blue a{
    border: 1px solid white;
    /* justify-self: flex-end; */
}

.testimonials-container{
    width: 80%;
    margin: auto;
    padding: 3rem 0 2rem;
}

.testimonials{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 30px;
    padding-top: 2rem;
}

.testimonials-container h2{
    font-size: 30px;
    text-align: center;
    color: #06235B;

}

.testimonial-item{
    box-shadow: 0px 2px 30px 0px rgba(0,0,0,0.08);
    display: flex;
    gap: 30px;
    padding: 2rem;
}

.testimonial-img{
    
}

.testimonial-img img{
    width: 80px;
    height: 80px;
    border-radius: 50%;
}

.testimonial-title{
    padding-bottom: 1.5rem;
}

.testimonial-title p{
    padding: 0px !important;
    font-weight: 600;
}

.testimonial-title h4{
    color: #003a8c;
    padding-bottom: 5px;
    font-size: 18px;
}

.testimonial-texts p{
    padding-bottom: 2rem;
}

.testimonial-texts a{
    /* margin-top: 1rem; */
    text-decoration: none;
    font-size: 18px;
    color:#6584ff;
}


@media(max-width:1200px){
    .landing-hero-texts h1{
        font-size: 40px;
    }

    .landing-hero-texts{
        padding: 2rem 0;
    }

}

@media(max-width:950px){
    .landing-hero-texts h1{
        font-size: 35px;
    }

    .landing-section{
        flex-direction: column;
        gap: 0px;
    }

    .landing-section-texts{
        width: 100%;
    }

    .landing-section-img{
        width: 70%;
        margin: auto;
    }

    .testimonial-item{
        flex-direction: column;
        gap: 0px;
    }




}

@media(max-width:850px){

    .landing-hero{
        flex-direction: column;
        gap: 0;
    }

    .landing-hero-texts{
        padding: 0rem 0;
        width: 100%;
        padding-bottom: 2rem;
    }


}

@media(max-width:750px){
    .landing-cards{
        grid-template-columns: repeat(2,1fr);
    }

    .landing-cards-titles h2{
        font-size: 30px;
    }

    .testimonials{
        grid-template-columns: repeat(1,1fr);
    }



}



@media(max-width:550px){

    .landing-hero-texts h1{
        font-size: 30px;
    }

    
    .landing-cards-titles h2{
        font-size: 25px;
    }

    .landing-hero-img{
        width: 80%;
    }

    .landing-numbers{
        flex-direction: column;
    }

    .landing-cards{
        grid-template-columns: repeat(1,1fr);
    }


    .landing-sections-title h2{
        font-size: 25px                                                                                                                                                                                                                                                                                                                                                                     ;
    }

    .landing-section-texts h3{
        font-size: 25px;
    }

    .testimonials-container h2{
        font-size: 25px;
    }

}


@media(max-width:420px){

    .landing-hero-buttons{
        
    }

    .landing-hero-buttons button{
        margin-right: 1rem;
    }

   


}

