/* simulador page*/

.simulator-header {
  display: flex;
  width: 75%;
  margin: auto;
  gap: 20px;
  margin-top: 3rem;
  justify-content: space-between;
}

.simulator-img {
  width: 45%;
  display: flex;
  justify-content: flex-end;
  position: relative;
}

.simulator-img img {
  max-width: 350px;
  border-radius: 7px;
}

.your-class {
  max-width: 420px !important;
  border-radius: 7px;
  aspect-ratio: 1;
}

.simulator-info-title {
  padding-top: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100%;
  width: 55%;
}

.simulator-info-title h1 {
  font-size: 45px;
  color: var(--primary-color);
  /* color: #06235B; */

}

.simulator-info-title>p {
  font-size: 19px;
  padding-top: 1rem;
}


.simulator-title-item img {
  width: 35px;
}

.simulator-title-items {
  padding-top: 1.5rem;
}

.simulator-title-items>div {
  display: flex;
  padding-bottom: 1rem;
}

.simulator-title-item {
  display: flex;
  align-items: center;
  justify-content: center;
}

.simulator-title-item p {
  font-size: 22px;
  /* font-weight: 600; */
  margin-left: 0.5rem;

}

.title-item-p {
  padding-left: 2rem;
}


.simulator-title-buttons {
  padding-top: 1rem;
  display: flex;
}

.simulator-title-buttons button, .simulator-buttons-actions button{
  cursor: pointer;
  color: #fff;
  height: 3rem;
  font-family: var(--font-CircularBold);
  border: none;
  border-radius: 6px;
  margin-right: 1rem;
  font-size: 22px;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 2rem;
  background-color: #FFC74F;
}

.simulator-buttons{
  width: 70%;
}


.simulator-title-buttons button img {
  margin-left: 10px;
  width: 25px;
  height: 25px;
}


.simulator-title-buttons button.yellow {
  color: black !important;
  border: 2px solid #FFC74F !important;
  background-color: white;
  color: #FFC74F !important;
}

.separation {
  height: 3rem;
  background-color: #5092FC;
  width: 100%;
  margin: 4rem 0;
  color: white;
  font-size: 17px;
}

.separation div {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  margin: auto;
}

.instructions-container {
  padding-top: 5rem;
  width: 75%;
  margin: auto;
}

.instructions-container h2,
.description-container h2 {
  font-size: 30px;
}

.instructions {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding-top: 1rem;
  gap: 25px;
}

.instructions-item-title {
  display: flex;
  align-items: center;
}

.instructions-item-title p {
  font-size: 18px;
  font-weight: 600;
  padding-left: 0.8rem;
}

.instructions-item {
  padding: 1rem;
  box-shadow: 0 12px 20px rgba(0, 0, 0, 0.15);

  border-radius: 4px;
}

.instructions-item-title .circle {
  width: 34px;
  height: 34px;
  background-color: #5092FC;
  background-color: #12BAB6;
  border-radius: 100%;
  display: flex;
  justify-content: center;
}

.instructions-item>p {
  font-size: 18px;
  padding-top: 1rem;
}

.description-container {
  width: 75%;
  margin: auto;
}

.description {
  padding: 1.5rem 0;
}

.description p {
  font-size: 18px;
  line-height: 1.75;
  padding: 0.2rem;
}

.description ul,
.description ol {
  font-size: 18px;
  line-height: 1.75;
  padding: 0.5rem 2rem;
}

.div-coins{
  display: flex;
  gap: 10px;
  font-size: 18px;
  font-weight: 500;

}

.div-coins div{
  display: flex;
  gap: 10px;
}





@media (max-width:1300px) {
  
  .simulator-header{
    width: 80%;
  }

  .simulator-info-title h1{
    font-size: 40px;
  }
  
  .simulator-info-title p{
    font-size: 18px;
  }

  .your-class{
    max-width: 420px !important;
    height: auto !important;


  }

}



@media (max-width:1250px) {
  
  .simulator-title-buttons{
    flex-direction: column;
    gap: 15px;
    padding-top: 0;
  }

  .div-coins{
    padding-bottom: 0.8rem;
  }


  .simulator-title-items{
    padding-top: 0.5rem;
  }

  .instructions-container{
    width: 85%;
  }


}

@media (max-width:1200px) {
  .separation div p:first-of-type{
    display: none;
  }

  .separation div{
    justify-content: center;
  }

}




@media (max-width:1100px) {
  
  .simulator-header{
    width: 90%;
    gap: 40px;
  }




  .simulator-info-title h1{
    font-size: 35px;
  }


  
  .your-class{
    max-width: 350px !important;
  }

  .simulator-title-items > div {
    padding-bottom: 1rem;
  }

  .simulator-title-item img{
    width: 30px;
    height: 30px;
  }


  .instructions-container h2,.description-container h2{
    font-size: 25px;
  }






}


@media (max-width:900px) {
  
  .simulator-header{
    flex-direction: column-reverse;
    gap: 10px;
  }

  .simulator-img{
    width: 100%;
    justify-content: center;
  }

  .simulator-info-title{
    width: 100%;
    padding-top: 0;
  }

  .simulator-info-title h1{
    font-size: 30px;
  }

  
  .simulator-title-buttons{
    flex-direction:row;
    padding-top: 0;
  }


  .simulator-title-items > div {
    padding-bottom: 1rem;
    padding-top: 0.5rem;
  }

    .instructions-container{
    width: 90%;
  }

  .separation{
    margin: 3rem 0;
  }

    .description-container{
    width: 85%;
  }



  
}

@media (max-width:650px) {
  
  
  .simulator-title-buttons{
    flex-direction: column;
    gap: 15px;
    padding-top: 0;
  }

  .instructions-container{
    padding-top: 2.5rem;
  }

  .instructions-item p{
    font-size: 16px;
  }

  .description p{
    font-size: 17px;
  }




}


@media (max-width:550px) {
  
  .simulator-header{
    margin-top: 2rem;
  }

  .simulator-img{
    width: 90%;
    margin: auto;
    justify-content: center;
  }

  .simulator-img img{
    width: auto !important;
    max-width: 100% !important;
  }

   .simulator-info-title h1{
    font-size: 27px;
  }

    .simulator-title-items > div {
    padding-bottom: 1rem;
    padding-top: 0rem;
  }

  .simulator-info-title > p{
    font-size: 17px;
    padding-top: 0.5rem;
  }

   .instructions-container h2,.description-container h2{
    font-size: 23px;
  }

  .instructions{
    grid-template-columns: repeat(1,1fr);
    gap: 10px;
  }

  .separation{
    height: auto;
    margin: 2rem 0;
  }

  .separation div{
    width: 100%;
    padding: 1rem;
    font-size: 16px;
    /* height: 4rem; */
  }

  .description-container{
    width: 90%;
  }


  
}